---
import { getCollection, CollectionEntry } from "astro:content";
import { sortByDate } from "@js/utils";

// components
import MainLayout from "@layouts/MainLayout.astro";
import AuthorBadge from "@components/AuthorBadge.astro";
import SocialShare from "@components/post/SocialShare.astro";
import RelatedPosts from "@components/post/RelatedPosts.astro";
import Sidebar from "@components/post/Sidebar.astro";
import ReadNext from "@components/post/ReadNext.astro";
import MarkdownContent from "@components/post/MarkdownContent.astro";
import HeaderImage from "@components/post/HeaderImage.astro";
import { Icon } from "astro-icon";

// generate props and params for each path
export async function getStaticPaths() {
  const allPosts = await getCollection("blog");
  const formattedPosts = sortByDate(allPosts);
  return formattedPosts.map((post) => ({
    params: { blogpost: post.slug },
    props: {
      post,
      formattedPosts,
    },
  }));
}

interface Props {
  post: CollectionEntry<"blog">;
  formattedPosts: CollectionEntry<"blog">[];
}

const { post, formattedPosts } = Astro.props as Props;
const { title, description, category, image, author, date } = post.data;
---

<MainLayout
  title={title}
  description={description}
  image={image}
  data={post.data}>
  <div class="2xl:container">
    <div
      class="relative z-20 flex flex-col w-full px-6 pb-12 mx-auto md:px-16 md:pt-6 xl:flex-row bg-base-300">
      <section class="xl:pr-16 xl:w-[72%]">
        <HeaderImage image={image} />
        <header class="my-8">
          <div class="flex items-start justify-between">
            <AuthorBadge author={author} date={date} />
            <SocialShare title={title} />
          </div>
          <hgroup class="my-6">
            <h1
              class="text-4xl !leading-[1.4] sm:text-5xl lg:text-6xl font-bold mb-6">
              {title}
            </h1>
            <p class="text-lg md:text-xl md:max-w-[85%] font-semibold">
              {description}
            </p>
          </hgroup>
        </header>
        <MarkdownContent post={post} />
        <ReadNext posts={formattedPosts} currentPost={post} />
      </section>
      <Sidebar posts={formattedPosts} currentPost={post} />
    </div>
    <RelatedPosts posts={formattedPosts} category={category} id={post.id} />
    <div class="flex justify-center py-12">
      <a
        href="/blog"
        class="inline-flex items-center capitalize gap-2 group btn btn-primary">
        <span>See all posts</span>
        <span>
          <Icon name="gg:arrow-right" height="28" />
        </span>
      </a>
    </div>
  </div>
</MainLayout>
