---
import { getCollection, CollectionEntry } from "astro:content";
import { sortByDate } from "../../js/utils";

// components
import MainLayout from "../../layouts/MainLayout.astro";
import CategoryBadge from "../../components/CategoryBadge.astro";

// generate props and params for each path
export async function getStaticPaths() {
  const allPosts = await getCollection("blog");
  const formattedPosts = sortByDate(allPosts);
  return formattedPosts.map((post) => ({
    params: { slug: post.slug },
    props: {
      post,
    },
  }));
}

interface Props {
  post: CollectionEntry<"blog">;
}

const allPosts = await getCollection("blog");
const formattedPosts = sortByDate(allPosts);
const { post } = Astro.props as Props;
const { title, description, category, image } = post.data;
const { Content } = await post.render();
const relatedPosts = formattedPosts
  .filter(
    (post) =>
      post.data.category.toLowerCase() === category.toLowerCase() &&
      post.data.title !== title
  )
  .slice(0, 3);
---

<MainLayout title={title} description={description} image={image}>
  <div class="container">
    <img
      src={image.src}
      alt={image.alt}
      class="h-[75vh] w-full object-cover object-top brightness-50 rounded-b-md"
    />

    <section class="w-[95%] -mt-[30vh] relative mx-auto">
      <div class="mb-10 border-2 border-pink-200 w-[70%]">
        <div class="mb-4 flex items-center gap-2">
          <span>Published in</span>
          <CategoryBadge category={category} />
        </div>
        <h1 class="text-5xl mb-6 font-semibold">{title}</h1>
        <p class="text-xl">{description}</p>
      </div>
      <div class="bg-base-300 shadow-lg rounded-t-lg h-[1000px]"></div>
    </section>
  </div>
  <!-- FIXME not resposnive, breaks the negative margin, change things up this isnt working -->
</MainLayout>
