---
import { CollectionEntry } from "astro:content";
import AuthorBadge from "../AuthorBadge.astro";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { slug } = post;
const { author, date, title, image } = post.data;
---

<article
  class="relative mb-6 flex items-center gap-[2%] bg-stone-100 p-2 last:mb-0"
>
  <a href={`/blog/${slug}`} class="absolute bottom-0 left-0 right-0 top-0"></a>
  <div class="flex flex-1 flex-col gap-2 p-3 lg:p-2 xl:p-4">
    <AuthorBadge author={author} date={date} />
    <h3 class="font-poppins text-lg md:text-xl lg:text-base xl:text-lg">
      {title}
    </h3>
  </div>
  <img
    src={image.src}
    alt={image.alt}
    class="h-[110px] w-[110px] object-cover sm:h-[130px] sm:w-[130px] lg:h-[100px] lg:w-[100px] xl:h-[120px] xl:w-[120px]"
  />
</article>
