---
import { CollectionEntry } from "astro:content";
import CategoryBadge from "./CategoryBadge.astro";
import AuthorBadge from "./AuthorBadge.astro";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { data, slug } = post;
---

<article class="card bg-base-200 lightBase shadow-md overflow-hidden">
  <figure class="group relative overflow-hidden">
    <a
      href={`/blog/${slug}`}
      class="absolute z-10 inset-0"
      aria-label=`Read article about "${data.title}"`></a>
    <!-- FIXME lazy loading images -->
    <img
      src={data.image.src}
      alt={data.image.alt}
      class="lg:group-hover:scale-110 object-cover animate__animated animate__fadeIn h-[285px] transition rounded-t-xl duration-300 lg:group-hover:rotate-1 w-full"
    />
  </figure>
  <!-- INFO -->
  <div class="card-body p-6">
    <div class="card-actions justify-between mb-4">
      <AuthorBadge author={data.author} date={data.date} />
      <a
        href={`/blog/${slug}`}
        aria-label=`Read article about "${data.title}"`
        class="btn btn-primary min-h-0 h-10 capitalize">Read Article</a
      >
    </div>
    <h2 class="card-title text-xl font-bold">
      {data.title}
    </h2>
    <p class="mb-2 line-clamp-3">{data.description}</p>
    <CategoryBadge category={data.category} />
  </div>
</article>
