---
import { CollectionEntry } from "astro:content";
import { Picture } from "@astrojs/image/components";

// components
import CategoryBadge from "./CategoryBadge.astro";
import AuthorBadge from "./AuthorBadge.astro";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { title, description, category, image, author, date } = post.data;
---

<article
  class="card overflow-hidden outline outline-base-200 outline-3 lg:hover:outline-indigo-400 duration-[300ms] group bg-base-100 ease lightBase lg:hover:shadow-lg"
>
  <div class="relative overflow-hidden">
    <a
      href=`/blog/${post.slug}`
      tabindex="-1"
      class="absolute z-10 inset-0"
      aria-label=`Read article about "${title}"`></a>
    <Picture
      loading="lazy"
      aspectRatio="16:9"
      widths={[480]}
      sizes="(min-width: 320px) 100vw"
      formats={["webp"]}
      src={image.src}
      alt={image.alt}
      class="lg:group-hover:brightness-[60%] object-cover w-full animate__animated animate__fadeIn transition ease duration-[300ms] h-[255px]"
    />
  </div>
  <!-- INFO -->
  <div class="card-body px-6 py-4">
    <div class="card-actions justify-between items-center mb-2">
      <AuthorBadge author={author} date={date} />
      <a
        href=`/blog/${post.slug}`
        aria-label=`Read article about "${title}"`
        class="btn btn-primary min-h-0 h-10 normal-case">Read article</a
      >
    </div>
    <h2 class="card-title font-bold">
      {title}
    </h2>
    <p class="mb-2 line-clamp-3">{description}</p>
    <CategoryBadge category={category} />
  </div>
</article>
