---
import { CollectionEntry } from "astro:content";
import { Image } from "@astrojs/image/components";

// components
import CategoryBadge from "./CategoryBadge.astro";
import AuthorBadge from "./AuthorBadge.astro";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { title, description, category, image, author, date } = post.data;
---

<article
  data-transition
  class="card rounded-lg overflow-hidden ring-2 ring-base-200 lg:hover:ring-accent duration-[200ms] group bg-base-100 ease lg:hover:shadow-lg">
  <div class="relative overflow-hidden">
    <a
      href=`/blog/${post.slug}`
      tabindex="-1"
      class="absolute inset-0 z-10"
      aria-label=`Read article about "${title}"`></a>
    <Image
      aspectRatio={16 / 9}
      fit="cover"
      height={350}
      width={0}
      quality={60}
      position="center"
      format="webp"
      src={image.src}
      alt={image.alt}
    />
  </div>
  <!-- INFO -->
  <div
    data-transition
    class="card-body px-6 border-t-2 border-base-200 py-4 bg-gradient-to-b from-neutral/50 transition lg:group-hover:bg-neutral/60 ease duration-[200ms]">
    <div class="items-center justify-between mb-2 card-actions">
      <CategoryBadge category={category} />
      <AuthorBadge author={author} date={date} />
    </div>
    <h2 class="font-bold card-title">
      <a
        href=`/blog/${post.slug}`
        class="hover:underline"
        aria-label=`Read article about "${title}"`>{title}</a
      >
    </h2>
    <p class="mb-2 line-clamp-3 h-[70px]">{description}</p>
  </div>
</article>
