---
import { CollectionEntry } from "astro:content";
import { Picture } from "@astrojs/image/components";

// components
import CategoryBadge from "./CategoryBadge.astro";
import AuthorBadge from "./AuthorBadge.astro";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { title, description, category, image, author, date } = post.data;
---

<article
  data-transition
  class="card overflow-hidden outline outline-base-200 outline-3 lg:hover:outline-accent duration-[300ms] group bg-base-100 ease lg:hover:shadow-lg"
>
  <div class="relative overflow-hidden">
    <a
      href=`/blog/${post.slug}`
      tabindex="-1"
      data-transition
      class="absolute z-10 inset-0 group-hover:bg-zinc-900/30 transition ease duration-[300ms]"
      aria-label=`Read article about "${title}"`></a>
    <Picture
      loading="lazy"
      aspectRatio="16:9"
      widths={[480]}
      sizes="(min-width: 320px) 100vw"
      formats={["webp"]}
      src={image.src}
      alt={image.alt}
      class="object-cover w-full animate__animated animate__fadeIn h-[255px]"
    />
  </div>
  <!-- INFO -->
  <div
    data-transition
    class="card-body px-6 py-4 transition lg:group-hover:bg-base-200/60 lightHover ease duration-[300ms] will-change-auto"
  >
    <div class="card-actions justify-between items-center mb-2">
      <CategoryBadge category={category} />
      <AuthorBadge author={author} date={date} />
    </div>
    <h2 class="card-title font-bold">
      <a
        href=`/blog/${post.slug}`
        class="hover:underline"
        aria-label=`Read article about "${title}"`>{title}</a
      >
    </h2>
    <p class="mb-2 line-clamp-3 h-[70px]">{description}</p>
  </div>
</article>
