---
import { CollectionEntry } from "astro:content";
import CategoryBadge from "./CategoryBadge.astro";
import AuthorBadge from "./AuthorBadge.astro";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { data, slug } = post;
---

<article class="card bg-base-200 articleCard shadow-md">
  <figure>
    <div class="overflow-hidden group relative">
      <a href={`/blog/${slug}`} class="absolute z-10 h-full w-full" tabindex="0"
      ></a>
      <img
        src={data.image.src}
        alt={data.image.alt}
        class="group-hover:scale-110 transition duration-300 group-hover:rotate-1"
      />
    </div>
  </figure>
  <div class="card-body p-6">
    <div class="card-actions justify-between mb-4">
      <AuthorBadge author={data.author} date={data.date} />
      <a href={`/blog/${slug}`} class="btn btn-primary min-h-0 h-10 capitalize"
        >Read Article</a
      >
    </div>
    <h2 class="card-title text-xl font-bold">
      {data.title}
    </h2>
    <p class="mb-2 line-clamp-3">{data.description}</p>
    <CategoryBadge category={data.category} />
  </div>
</article>
