---
import { CollectionEntry } from "astro:content";
import CategoryBadge from "../CategoryBadge.astro";
import { Icon } from "astro-icon";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props as Props;
const { title, category, image } = post.data;
---

<article class="flex gap-4 items-center">
  <figure class="relative overflow-hidden w-fit">
    <img
      src={image.src}
      alt={image.alt}
      class="aspect-square w-[100px] object-cover rounded-lg"
    />
    <a
      href={`/blog/${post.slug}`}
      class="absolute z-10 inset-0"
      aria-label=`Read article about "${title}"`></a>
  </figure>
  <div class="flex-1 flex flex-col gap-2">
    <h3 class="font-bold text-md mb-2">{title}</h3>
    <div class="flex items-center justify-between">
      <CategoryBadge category={category} />
      <a
        href=`/blog/${post.slug}`
        class="btn btn-ghost btn-square btn-sm font-semibold"
      >
        <Icon pack="mdi" name="arrow-top-right" height="24" />
      </a>
    </div>
  </div>
</article>
