---
import { CollectionEntry } from "astro:content";
import { Icon } from "astro-icon";
import { Picture } from "@astrojs/image/components";
// components
import CategoryBadge from "../CategoryBadge.astro";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props as Props;
const { title, category, image } = post.data;
---

<article class="flex gap-4 items-center group">
  <figure class="relative overflow-hidden rounded-lg">
    <Picture
      aspectRatio="1:1"
      widths={[120]}
      sizes="(min-width: 320px) 100vw"
      formats={["webp"]}
      src={image.src}
      alt={image.alt}
      class="aspect-square w-[100px] h-[100px] object-cover lg:group-hover:brightness-[60%] animate__animated ease animate__fadeIn transition duration-[300ms]"
    />
    <a
      tabindex="-1"
      href={`/blog/${post.slug}`}
      class="absolute z-10 inset-0"
      aria-label=`Read article about "${title}"`></a>
  </figure>
  <div class="flex-1 flex flex-col gap-2">
    <h3 class="font-bold text-md mb-2">
      <a
        href={`/blog/${post.slug}`}
        class="hover:underline underline-offset-2"
        aria-label=`Read article about "${title}"`>{title}</a
      >
    </h3>
    <CategoryBadge category={category} />
  </div>
</article>
