---
import { CollectionEntry } from "astro:content";
import { formatDate } from "@js/utils";
import { Picture } from "@astrojs/image/components";
// components
import CategoryBadge from "../CategoryBadge.astro";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props as Props;
const { title, category, image, date } = post.data;
---

<article class="flex items-center gap-4">
  <figure class="relative overflow-hidden rounded-lg">
    <Picture
      aspectRatio="1:1"
      widths={[120]}
      sizes="(min-width: 320px) 100vw"
      formats={["webp"]}
      src={image.src}
      alt={image.alt}
      class="aspect-square w-[100px] h-[100px] object-cover object-top"
    />
    <a
      tabindex="-1"
      href={`/blog/${post.slug}`}
      class="absolute z-10 inset-0 lg:hover:bg-zinc-900/40 transition duration-[300ms]"
      aria-label=`Read article about"${title}"`></a>
  </figure>
  <div class="flex flex-col flex-1 gap-2">
    <h3 class="mb-2 font-semibold leading-snug">
      <a
        href={`/blog/${post.slug}`}
        class="hover:underline underline-offset-2"
        aria-label=`Read article about "${title}"`>{title}</a
      >
    </h3>
    <div class="flex items-end justify-between">
      <CategoryBadge category={category} />
      <span class="block text-sm">{formatDate(date)}</span>
    </div>
  </div>
</article>
