---
import { Icon } from "astro-icon";
interface Props {
  title: String;
}
const url = Astro.site!.origin + Astro.url.pathname;
const { title } = Astro.props as Props;
---

<ul class="flex items-center gap-1 [&>li]:h-[26px]">
  <li>
    <a
      href=`http://www.facebook.com/sharer.php?u=${url}`
      class="btn btn-ghost btn-sm btn-square"
      target="_blank"
      aria-label="Share blog post on Facebook">
      <Icon
        pack="mdi"
        name="facebook"
        height="26"
        class="[&>path]:fill-base-content/60"
      />
    </a>
  </li>
  <li>
    <a
      href=`http://twitter.com/share?url=${url}&text=${title}`
      class="btn btn-ghost btn-sm btn-square"
      target="_blank"
      aria-label="Share blog post on Twitter">
      <Icon
        pack="mdi"
        name="twitter"
        height="26"
        class="[&>path]:fill-base-content/60"
      />
    </a>
  </li>
  <li>
    <a
      href=`http://www.linkedin.com/shareArticle?mini=true&url=${url}`
      class="btn btn-ghost btn-sm btn-square"
      target="_blank"
      aria-label="Share blog post on LinkedIn">
      <Icon
        pack="mdi"
        name="linkedin"
        height="26"
        class="[&>path]:fill-base-content/60"
      />
    </a>
  </li>
  <li>
    <a
      href=`http://reddit.com/submit?url=${url}&title=${title}`
      class="btn btn-ghost btn-sm btn-square"
      target="_blank"
      aria-label="Share blog post on Reddit">
      <Icon
        pack="mdi"
        name="reddit"
        height="26"
        class="[&>path]:fill-base-content/60"
      />
    </a>
  </li>
  <li x-data="clipboard">
    <!-- COPY TO CLIPBOARD BUTTON -->
    <button
      @click="copyToClipboard"
      aria-label="Copy URL to clipboard"
      :disabled="showToast"
      value={url.toString()}
      class="relative overflow-hidden btn btn-ghost btn-sm btn-square">
      <Icon
        pack="mdi"
        name="link-variant"
        height="26"
        class="[&>path]:fill-base-content/60"
        x-show="!showToast"
      />
      <Icon
        x-cloak
        pack="mdi"
        name="link-variant-plus"
        height="26"
        class="[&>path]:fill-info absolute animate__animated"
        x-transition:enter="animate__fadeIn"
        x-transition:leave="animate__fadeOut"
        x-show="showToast"
      />
    </button>
  </li>
</ul>

<script>
  import Alpine from "alpinejs";
  import copy from "copy-to-clipboard";
  import { toast } from "@js/utils";

  document.addEventListener("alpine:init", () => {
    Alpine.data("clipboard", () => ({
      showToast: false,
      copyToClipboard(event) {
        copy(event.target.value);
        toast("Link copied to clipboard", "alert-info", 2000);
        this.showToast = true;
        setTimeout(() => (this.showToast = false), 2000);
      },
    }));
  });
</script>
