---
import Seo from "../components/Seo.astro";
const { title, description, image, data, robots } = Astro.props;
---

<head>
  <script>
    // Define dataLayer and the gtag function.
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    // Default all to 'denied'.
    if (localStorage.getItem("consentMode") === null) {
      gtag("consent", "default", {
        analytics_storage: "denied",
        ad_storage: "denied",
        functionality_storage: "denied",
        personalization_storage: "denied",
        security_storage: "denied",
      });
    } else {
      gtag(
        "consent",
        "default",
        JSON.parse(localStorage.getItem("consentMode"))
      );
    }
  </script>
  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != "dataLayer" ? "&l=" + l : "";
      j.async = true;
      j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, "script", "dataLayer", "GTM-TFRJX9T");
  </script>
  <!-- End Google Tag Manager -->
  <!-- Handle dark/light mode -->
  <script is:inline>
    const HTML = document.documentElement;
    if (
      localStorage.theme === "dark" ||
      (!("theme" in localStorage) &&
        window.matchMedia("(prefers-color-scheme: dark)").matches)
    ) {
      localStorage.setItem("theme", "dark");
      HTML.setAttribute("data-theme", "dark");
    } else {
      localStorage.setItem("theme", "light");
      HTML.setAttribute("data-theme", "light");
    }
  </script>
  <!-- Preload fonts -->
  <script src="../js/preloadFonts.js"></script>
  <!-- Lottie Player -->
  <script
    is:inline
    src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"
  ></script>
  <meta charset="utf-8" />
  <link rel="sitemap" href="/sitemap-index.xml" />
  <link rel="icon" type="image/svg+xml" href="/favicon-logo.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <meta name="description" content={description} />
  <Seo {title} {description} url={Astro.url} {image} {data} {robots} />
</head>
