---
// components
import Head from "./Head.astro";

import "../styles/global.css";
import "../styles/fonts.css";
import "animate.css";

import Footer from "../components/Footer.astro";
import Navbar from "../components/navbar/Navbar.astro";

interface Props {
  title: string;
  description: string;
  image?: Object;
  data?: Object;
  robots?: any;
}

const { title, description, image, data, robots } = Astro.props as Props;
---

<html lang="en">
  <Head {title} {description} {image} {data} {robots} />
  <body class="min-w-[315px]">
    <div id="overlays"></div>
    <Navbar />
    <main class="min-h-screen pt-[58px]">
      <slot />
    </main>
    <Footer />
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-TFRJX9T"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
  </body>
</html>
